<style type='text/css'>
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat+Brush&family=Caveat:wght@600&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro&display=swap');

/*********************************************
* CUSTOM COLORS

https://colorate.azurewebsites.net/Color/0A66B4
https://www.color-hex.com/color-palette/1294
*********************************************/

:root {
    --green: #4d7e65;
    --blue: #3c70b5;
    --red: #b5533c;
    --black: #1d1e1f;
    --grey: #4a4a4b;
    --color-subtitle: #00008B;
    --color-headings: #00003F;
    --color-small-headings: #5D5D9A;
    --color-strong: #206C46;
    --color-control: var(--color-small-headings);
    --color-marker: #B6B6C8;
}


/*********************************************
* GLOBAL STYLES
*********************************************/

.reveal-viewport {
    background: var(--bs-white);
    background-color: var(--bs-white);
  }

.reveal {
   font-size: 2.4em;
   font-weight: normal;
   color: var(--black);
}

.reveal ::selection {
   color: #f7f6f7;
   background: rgb(10, 102, 180);
   text-shadow: none;
}

.reveal ::-moz-selection {
   color: #f7f6f7;
   background: rgb(10, 102, 180);
   text-shadow: none;
}

.reveal ::marker {
    color: var(--color-marker)
}
section.has-dark-background ::marker {
    color: white;
}

.reveal .controls {
    bottom: 24px;
    color: var(--color-control);
}

.reveal .progress {
    height: 5px;
    color: var(--color-headings);
}

.reveal .slide-number {
    background-color: transparent;
    color: var(--black);
}


/*********************************************
* HEADERS
*********************************************/

.reveal h1.title {
    font-size: 3em;
    font-weight: bold;
    color: var(--black);
}

p.subtitle{
    color: var(--color-subtitle);
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 5em;
}

p.author,
p.date,
p.institute{
    text-align: left;
    font-size: 0.7em;
    margin-top: -0.7em;
    margin-left: 2.5%;
}

p.institute{
    font-size: 0.5em
}

p.date {
    margin-top: 1em;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: var(--color-headings)
}

.reveal h2 {
    margin-bottom: +50px;
}

.reveal h3 {
    color: var(--color-small-headings);
    font-weight: bold;
    font-size: 1.3em;
}


/*********************************************
* FULL SCREEN SLIDES
*********************************************/

.reveal section[data-background*="images"] {
    font-size: 1.2em;
    background-color: rgba(00, 00, 00, .2);
    padding: 1em;
    width: 80% !important;
    left: 10%;
    margin: auto;
    /* border-bottom: 30px solid orange; */
}
.reveal h2[data-background*="images"] {
    color: white;
    font-family: Lato;
    font-weight: bold;
}


/*********************************************
* LISTS
*********************************************/
.reveal ul,
.reveal ol {
    margin-bottom: 0.6em;
}

ol li,
ul li {
  margin-top: 0.6em;
}

ol li li,
ul li li {
    margin-top: 0.2em;
    list-style-type: None;
    font-size: 0.8em;
    font-weight: 300;
}

/*********************************************
* OTHER TEXT
*********************************************/
section.has-dark-background strong,
section.has-dark-background b {
  color: white
}

strong, b {
    color: var(--color-strong)
}

.reveal a {
    color: var(--color-subtitle)
}

.reveal a:hover {
  color: #8B0000;
  text-shadow: none;
  border: none;
}

.reveal section.has-dark-background a {
    color: white;
    text-decoration: underline;
}

.reveal figure figcaption {
    font-style: italic;
  color: var(--grey);
  font-size: 75%;
}

section:not(.has-dark-background) span.citation{
    font-size: 60%;
    font-weight:300;
    color: gray;
    vertical-align: bottom;
}

.reveal pre {
    margin-top: 2em;
    margin-bottom: 4em;
}

.reveal pre code {
    font-size: 1.5em;
    padding: 1.5em;
    line-height: 1.2em;
    max-height: 600px;
}


section.has-dark-background code {
    color: silver;
}

.reveal table {
    font-size: 0.8em;
}

.emoji {
    font-size: 1.2em
}

/*********************************************
* QUOTES
*********************************************/

.reveal blockquote  {
  font-family: Georgia;
  color: var(--black);
  max-width: 80%;
  text-align: left;
  box-shadow: none;
  font-size: 130%;
  position: relative; }
  .reveal blockquote p{
      line-height: 1.15em;
  }
  .reveal blockquote p:first-child::before {
    font-size: 1.5em;
    font-family: Georgia, serif;
    color: rgb(10, 102, 180);
    content: '«'; }
.reveal blockquote p:first-child::after {
  font-size: 1.5em;
  font-family: Georgia, serif;
  color: rgb(10, 102, 180);
  content: '»'; }


.reveal blockquote cite{
    color: rgb(10, 102, 180);
    text-align: right;
    font-style: normal;
    font-size: 0.75em;
    font-weight: bold;
    margin-top:1em;
}

.reveal blockquote cite:before {
    content: "\2014";
}

/*********************************************
* CUSTOM CLASSES
*********************************************/
.white-text {
    color:#f9f9ff !important;
}
.dark-text {
    color:#0c0c0c !important;
    font-weight: bold;
}

.answer {
    
    background-color: rgba(00, 00, 00, .2);
    padding: 0.8em;
    margin-top: 0.3em;
    width: 70%;
    margin: auto;
    margin-top: 1em;
}

.highlight {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 2em;
    background: rgba(255, 255, 255, .5);
    width: 80%;
    margin:auto;
    padding:1em;
}

.reading p,
.reading h3,
.csl-entry {
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.reading p,
.references {
    font-size: 0.6em;
}

.references > div{
    margin-bottom: 0.4em;
}


.funky {
    font-family: Caveat;
    font-size: 1.5em;
}

.green {
    color: #206C46;
}

.red {
    color: #B40A22;
}

/*********************************************
* CUSTOM LAYOUT CLASSES
*********************************************/

.l-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.l-multiple {
  display: flex;
  justify-content: space-around;
}

.l-double strong {
  font-size: 1.3em;
}

.l-image-corner {
    position: absolute;
    right: 0;
    transform: translate(0%,-55%);
}

.l-left-align {
  text-align: left;
}






</style>
